@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&display=swap');

.buttonListContainer{
    border: 2px solid #2196F3;
    border-radius: 8px;
    color: #2196F3;
    padding: 5px 15px;
    font-size: 25px;
    transition: 0.5s;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.buttonListContainer:hover{
    border-radius: 8px;
    background-color: #2196F3;
    color: white;
    padding: 5px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}