@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.logInFormContainer{
    width: 90vw;
}

.inputLogin {
    background-color: transparent;
    border-color: #2195f3a4;;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.534);
    padding: 5px 10px;
    width: 100%;
}

.welcomeSubtituleLogin, .welcomeLogin {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.welcomeLogin{
    color: white;   
    font-size: 30px; 
}

.welcomeSubtituleLogin{
    color: rgba(255, 255, 255, 0.514);
    font-size: 20px;
}