@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.sectionListContainer{
    border-bottom: 2px solid #2196F3;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-style: normal;
    text-align: center;
    width: 70%;
}