
.paginationContainer{
    margin-bottom: 20px;
}

.iconPagination{
    cursor: pointer;
    height: 30px;
    transition: 0.6s;
    width: 30px;
}

.iconPagination:hover{
    color: #2196F3;
    transition: 0.6s;
}